body{
    background-color: #1b3881;  /* Color de fondo  */
}

nav ul {
    list-style-type: none;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

nav li {
    width: 200px;
    text-align: center;
    float: left;
}

.submenu {
    display: none;
}

#menu > li:hover > ul {
    display: block;
}

#menu {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 165px;
}

.sinflotar {
    clear: both;
    margin-top: 50px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-family: "Arial", "Helvetica", "sans-serif";
    font-size: 16px;
    line-height: 30px;
    color: white;
    background-color: red;
    display: block;
}

nav a:hover {
    background-color: #993300;
}

nav {
    position: absolute;
    z-index: 5;
    top: 0px;
    width: 100%;
}

#titulo{
    border:2px solid black;
    background-color:#00aeef;
@import url('https://fonts.googleapis.com/css?family=Anton');
}

canvas, #titulo {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    top: 0;
    bottom: 0;
    margin-top: 100px;
}

table {
    /* Borde de fuera de la tabla */
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    background-color: white;
    text-align: center;
    margin: 50px auto;
}

td{
    /* Borde finito de dentro de la tabla */
    text-align: center;
    padding: 8px;
    color: black;
    background-color: white;
    width: 70%;
    height: 58px;
}
th {
    /* Borde finito de dentro de la tabla */
    text-align: center;
    padding: 8px;
    color: black;
    background-color: #463c54;
}

tr{
    height: 96px;
    background-color: white;
    text-align: center;
    width: 70%;
}

tr:nth-child(even) { /* Espacio entre filas */
    background-color: white;
    height: 18px;
    text-align: center;
}
h2{
    text-align: center;
}
p, td{    /* Cajitas blancas */
    color: black;
    font-weight: 700;
    height: 200px;
    text-align: justify;
}

#Catedral, #Giralda, #Sevilla{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    display:block;
    margin:auto;
}